# Joshua Pellegrino

# Super Covid-19 DataFrame

In [4]:
import pandas as pd

super_covid_df = pd.read_csv('covid19_superdata.csv')
display(super_covid_df)

,countyFIPS,County Name,State,StateFIPS,2020-01-22_x,2020-01-23_x,2020-01-24_x,2020-01-25_x,2020-01-26_x,2020-01-27_x,...,2023-01-28_y,2023-01-29_y,2023-01-30_y,2023-01-31_y,2023-02-01_y,2023-02-02_y,2023-02-03_y,2023-02-04_y,2023-02-05_y,population
0,0,statewide unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,autauga county,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,55869
2,1003,baldwin county,AL,1,0,0,0,0,0,0,...,723,723,723,723,723,723,723,723,723,223234
3,1005,barbour county,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,24686
4,1007,bibb county,AL,1,0,0,0,0,0,0,...,109,109,109,109,109,109,109,109,109,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3184,56037,sweetwater county,WY,56,0,0,0,0,0,0,...,137,137,137,137,137,137,137,137,137,42343
3185,56039,teton county,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,23464
3186,56041,uinta county,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,20226
3187,56043,washakie county,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,7805
3188,56045,weston county,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,6927

# Read and Display Enrichment Data - Hospital Bed Utilization

In [5]:
hospital_beds_df = pd.read_csv('COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv', low_memory=False)
display(hospital_beds_df)

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,staffed_icu_pediatric_patients_confirmed_covid_7_day_avg,staffed_icu_pediatric_patients_confirmed_covid_7_day_coverage,staffed_icu_pediatric_patients_confirmed_covid_7_day_sum,staffed_pediatric_icu_bed_occupancy_7_day_avg,staffed_pediatric_icu_bed_occupancy_7_day_coverage,staffed_pediatric_icu_bed_occupancy_7_day_sum,total_staffed_pediatric_icu_beds_7_day_avg,total_staffed_pediatric_icu_beds_7_day_coverage,total_staffed_pediatric_icu_beds_7_day_sum,Demo | State Geographic Boundaries
0,020008,2020/03/20,AK,020008,BARTLETT REGIONAL HOSPITAL,3260 HOSPITAL DR,JUNEAU,99801.0,Short Term,2110.0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
1,021306,2020/03/27,AK,021306,PROVIDENCE KODIAK ISLAND MEDICAL CTR,1915 EAST REZANOF DRIVE,KODIAK,99615.0,Critical Access Hospitals,2150.0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,2.0
2,020017,2020/03/27,AK,020017,ALASKA REGIONAL HOSPITAL,2801 DEBARR ROAD,ANCHORAGE,99508.0,Short Term,2020.0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,2.0
3,020008,2020/03/27,AK,020008,BARTLETT REGIONAL HOSPITAL,3260 HOSPITAL DR,JUNEAU,99801.0,Short Term,2110.0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
4,020012,2020/03/27,AK,020012,FAIRBANKS MEMORIAL HOSPITAL,1650 COWLES STREET,FAIRBANKS,99701.0,Short Term,2090.0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736879,531304,2023/02/03,WY,531304,HOT SPRINGS COUNTY MEMORIAL HOSPITAL,150 EAST ARAPAHOE,THERMOPOLIS,82443.0,Critical Access Hospitals,56017.0,...,0.0,3,0.0,0.0,3,0.0,0.0,3,0.0,51.0
736880,531316,2023/02/03,WY,531316,MEMORIAL HOSPITAL OF CARBON COUNTY,2221 WEST ELM STREET,RAWLINS,82301.0,Critical Access Hospitals,56007.0,...,0.0,1,0.0,0.0,1,0.0,0.0,1,0.0,51.0
736881,530015,2023/02/03,WY,530015,ST JOHNS MEDICAL CENTER,625 EAST BROADWAY,JACKSON,83001.0,Short Term,56039.0,...,0.0,1,0.0,0.0,1,0.0,0.0,1,0.0,51.0
736882,531309,2023/02/03,WY,531309,NORTH BIG HORN HOSPITAL DISTRICT,1115 LANE 12,LOVELL,82431.0,Critical Access Hospitals,56003.0,...,0.0,3,0.0,0.0,3,0.0,0.0,3,0.0,51.0
736883,531311,2023/02/03,WY,531311,CROOK COUNTY HOSPITAL,713 OAK STREET,SUNDANCE,82729.0,Critical Access Hospitals,56011.0,...,0.0,3,0.0,0.0,3,0.0,0.0,3,0.0,51.0

# Last week Covid-19 trend

In [101]:
#last_seven = pd.DataFrame(super_covid_df.loc[super_covid_df["State"] == "NV"])
last_seven = pd.DataFrame(super_covid_df.iloc[1771:1789])
last_seven = last_seven[["State", "2023-01-30_x", "2023-01-31_x", "2023-02-01_x", "2023-02-02_x", "2023-02-03_x", "2023-02-04_x", "2023-02-05_x"]]
last_seven = last_seven.reset_index()
last_seven = last_seven.drop(['index'], axis = 1)
data = {
        'State': ['NV'],
        '2023-01-30_cases_sum': [last_seven["2023-01-30_x"].sum()],
        '2023-01-01_cases_sum': [last_seven["2023-01-31_x"].sum()],
        '2023-02-01_cases_sum': [last_seven["2023-02-01_x"].sum()],
        '2023-02-02_cases_sum': [last_seven["2023-02-02_x"].sum()],
        '2023-02-03_cases_sum': [last_seven["2023-02-03_x"].sum()],
        '2023-02-04_cases_sum': [last_seven["2023-02-04_x"].sum()],
        '2023-02-05_cases_sum': [last_seven["2023-02-05_x"].sum()]
       }
data_trend_df = pd.DataFrame(data)
display(last_seven)
display(data_trend_df)

,State,2023-01-30_x,2023-01-31_x,2023-02-01_x,2023-02-02_x,2023-02-03_x,2023-02-04_x,2023-02-05_x
0,NV,0,0,0,0,0,0,0
1,NV,7570,7570,7570,7586,7586,7586,7586
2,NV,666056,666056,666056,666884,666884,666884,666884
3,NV,8738,8738,8738,8750,8750,8750,8750
4,NV,12848,12848,12848,12853,12853,12853,12853
5,NV,124,124,124,124,124,124,124
6,NV,190,190,190,190,190,190,190
7,NV,2777,2777,2777,2785,2785,2785,2785
8,NV,1336,1336,1336,1336,1336,1336,1336
9,NV,678,678,678,680,680,680,680
10,NV,12113,12113,12113,12148,12148,12148,12148
11,NV,1486,1486,1486,1495,1495,1495,1495
12,NV,9117,9117,9117,9121,9121,9121,9121
13,NV,2349,2349,2349,2351,2351,2351,2351
14,NV,192,192,192,194,194,194,194
15,NV,126840,126840,126840,127167,127167,127167,127167
16,NV,1782,1782,1782,1783,1783,1783,1783
17,NV,17264,17264,17264,17282,17282,17282,17282

,State,2023-01-30_cases_sum,2023-01-01_cases_sum,2023-02-01_cases_sum,2023-02-02_cases_sum,2023-02-03_cases_sum,2023-02-04_cases_sum,2023-02-05_cases_sum
0,NV,871460,871460,871460,872729,872729,872729,872729

#### Trend Evaluation:

It looks like the trends for NV in the past week have stable for the amount of cases and deaths throughout. Only a few counties experience the slightest variation but nothing that screws the numbers in any direction. Still an extremely high number of cases and deaths but the numbers are consistant throughout the week.

# Super Covid-19 DataFrame and Enrichment DataFrame Merge

In [ ]:
# Large loading time, server keeps crashing when trying to test merge
merged_df = pd.merge(super_covid_df, hospital_beds_df, left_on = "State", right_on = "state")
display(merged_df)